<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.skeleton">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
        <activity android:name=".MainActivity" android:label="@string/app_name" android:theme="@style/AppTheme.NoActionBar">

            <intent-filter android:label="abc">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" android:host="*" android:pathPrefix="/" />
                <data android:scheme="https" android:host="*" android:pathPrefix="/" />

            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--<receiver android:name="com.example.skeleton.SmsReceiver">-->
                <!--<intent-filter>-->
                    <!--<action android:name="android.provider.Telephony.SMS_RECEIVED" />-->
                <!--</intent-filter>-->
            <!--</receiver>-->

        </activity>

        <activity android:name="com.example.skeleton.SplashScreen"></activity>
        <activity android:name="com.example.skeleton.WelcomeScreen"></activity>
        <activity android:name="com.example.skeleton.LoginScreen"></activity>
        <activity android:name="com.example.skeleton.billing.inAppBilling"></activity>
        <activity android:name="com.facebook.FacebookActivity" android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>